[webservers]
%{ for host in webservers ~}
${host.name} ansible_host=${host.nat_ip} fqdn=${host.fqdn}
%{ endfor ~}

[databases]
%{ for host in databases ~}
${host.name} ansible_host=${host.nat_ip} fqdn=${host.fqdn}
%{ endfor ~}

[storage]
%{ for host in storage ~}
${host.name} ansible_host=${host.nat_ip} fqdn=${host.fqdn}
%{ endfor ~}

[all:vars]
ansible_user=ubuntu
ansible_ssh_private_key_file=~/.ssh/id_ed25519
